@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
  url('../assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
  url('../assets/fonts/roboto/Roboto-Bold.woff') format('woff'),
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-display: swap;
  src: url('../assets/fonts/roboto/Roboto-Light.woff2') format('woff2'),
  url('../assets/fonts/roboto/Roboto-Light.woff') format('woff'),
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
  url('../assets/fonts/roboto/Roboto-Medium.woff') format('woff'),
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  font-display: swap;
  src: url('../assets/fonts/roboto/Roboto-Thin.woff2') format('woff2'),
  url('../assets/fonts/roboto/Roboto-Thin.woff') format('woff'),
}